body {
  text-align: center;
  margin: 0px;
  font-family: "Comic Sans MS";
}

.about {

  background-color: skyblue;

  padding: 0px;
}

.project {
  margin: 70px;
}

.projects {
  background-color: yellow;
  padding: 10px;
}

.project-content {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 45px 50px 50px 50px;
}

.project-thumbnail {
  display: inline-block;
  height: 256px;
}
