body {
  text-align: center;
  margin: 0px;
  font-family: "Montserrat";
}

.about {
  background-color: white;
  font-size: 55px;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
}

.projects {
  background-color: white;

}


/*.project-content {

} */

.container {
  position: relative;
  height: 37%;
  background-color: skyblue;
  border-radius: 30px;

  width: 25%;
  display:inline-block;
  margin: 10px;
  min-width: 300px;


}

.container img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}



.overlay {
  position: absolute;
  transition: all 0.1s ease;
  opacity: 0;
  border-radius: 30px;
}

.container:hover .overlay {
opacity: 0.5;
border-radius: 30px;
}

.overlayFade {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: red;
  border-radius: 30px;
}
