body {
  text-align: center;
  margin: 0px;
  font-family: "Montserrat";
}

.about {
  background-color: white;
  font-size: 55px;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
}

.projects {
  background-color: white;

}

.project-logo{
  font-size: 180px;
  padding-top: 20px;
}


.container {
  position: relative;
  height: 43%;
  background-color: skyblue;
  border-radius: 30px;

  width: 25%;
  display:inline-block;
  margin: 10px;
  min-width: 300px;

}

.container img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}



.overlay {
  position: absolute;
  opacity: 0;
  border-radius: 30px;
}

.container:hover .overlay {
opacity: 1;
border-radius: 30px;
color: white;
}

.overlayFade {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: darkblue;
  border-radius: 30px;
}

.project-name {
  font-size: 35px;
  margin: 14px 0px 0px 0px;
}
